.user-name {
    text-decoration: none;
}

.container {
    justify-content: center;
}

.btn {
    margin-right: .5rem;
}

.button-layout {
    display: flex;
}

.row {
    align-items: center;
    justify-content: center;
}