.logo {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 0.6;
  padding: 0.25em;
}

.tab {
  color: #0a58ca;
  text-decoration: none;
  font-weight: bold;
  padding: 1.2em 0.5em;
}

.tab-active {
  color: #0a58ca;
  border-bottom: 4px solid #0a58ca;
}

.profile-link:hover {
  background-color: lightblue;
}

.profile-link > p {
  color: #000;
}

.notification {
  width: max-content;
}

