<form>

  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Current Email:</label>

    <div class="col-sm-8">
      <input type="text" readonly class="form-control-plaintext" id="currentEmail" value="hello@example.com">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Current Mobile:</label>

    <div class="col-sm-8">
      <input type="text" readonly class="form-control-plaintext" id="currentMobile" value="0912345677">
    </div>
  </div>

  <div class="form-group">
    <label class="mt-3">New email address</label>
    <input type="email" class="form-control" id="newEmail" aria-describedby="emailHelp" placeholder="Enter new email">
  </div>

  <div class="form-group">
    <label class="mt-3">New mobile number</label>
    <input type="text" class="form-control" id="newMobile" aria-describedby="emailHelp" placeholder="Enter new mobile number">
  </div>

  <div class="form-group">
    <label class="mt-3">New password</label>
    <input type="password" class="form-control" id="editPassword" placeholder="Enter new password">
  </div>

  <div class="form-group">
    <label class="mt-3">Retype new password</label>
    <input type="password" class="form-control" id="retypePassword" placeholder="Retype new password">
  </div>

  <div class="form-group">
    <label class="mt-3">Current Password</label>
    <input type="password" class="form-control" id="currentPassword" placeholder="Enter current password" required>
    
    <small class="form-text text-muted">*Current password is required to change security information.</small>
  </div>

  <div class="mt-3">
    <button type="save" class="btn btn-primary">Save</button>
  </div>

</form>
