<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <ng-container *ngIf="user != null">
        <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
            <img src="" class="img-responsive" alt="" />
          </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              {{ user.firstName + " " + user.lastName }}
            </div>
          </div>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->
          <!-- INSERT CONDITIONS HERE THAT IF USER IS THE CURRENTLY LOGGED IN USER, HE CAN'T SEE THE BUTTONS -->
          <div
            class="d-flex justify-content-center"
            *ngIf="isOwner(); else friendStatusCheck"
          >
            <button type="button" class="btn btn-success btn-sm">
              Change profile picture
            </button>
          </div>

          <ng-template #friendStatusCheck>
            <div
              class="d-flex justify-content-center"
              *ngIf="isFriends; else checkingPendingRequest"
            >
              <button
                type="button"
                class="btn btn-success btn-sm"
                (click)="removeFriend()"
              >
                Remove Friend
              </button>
              <button type="button" class="btn btn-danger btn-sm">Block</button>
            </div>
            <ng-template #checkingPendingRequest>
              <div
                class="d-flex justify-content-center"
                *ngIf="requestPending; else getRequestComp"
              >
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="declineOrCancelFriendRequest()"
                >
                  Cancel Friend Request
                </button>
              </div>
            </ng-template>

            <ng-template #getRequestComp>
              <div
                class="d-flex justify-content-center"
                *ngIf="requestFromTheUserPending; else notFriends"
              >
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  (click)="acceptFriendRequest()"
                >
                  Accept
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="declineOrCancelFriendRequest()"
                >
                  Reject
                </button>
              </div>
            </ng-template>
            <ng-template #notFriends>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  (click)="sendFriendRequest()"
                >
                  Add Friend
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                  Block
                </button>
              </div>
            </ng-template>
          </ng-template>

          <!-- March 14, 2 pm codes -->

          <!-- END SIDEBAR BUTTONS -->
          <!-- SIDEBAR MENU -->
          <div class="profile-usermenu">
            <ul class="nav">
              <li class="active">
                <a href="#">
                  <i class="glyphicon glyphicon-home"></i>
                  Profile
                </a>
              </li>
              <li if>
                <a href="#">
                  <i class="glyphicon glyphicon-user"></i>
                  Account Settings
                </a>
              </li>
              <li>
                <!-- <div *ngIf="isOwner(); else notTheOwner"> -->
                <a routerLink="/{{ getProfileUrl() }}/albums" target="_blank">
                  <i class="glyphicon glyphicon-ok"></i>
                  Albums
                </a>
                <!-- </div> -->

                <!-- <div>
                <ng-template #notTheOwner>
                    <div *ngIf="oneFriend.active; else notfriend3"> 
                      <a routerLink="/{{ getProfileUrl() }}/albums" target="_blank">
                        <i class="glyphicon glyphicon-ok"></i>
                        Albums
                      </a>
                    </div>
        
                    <div>
                        <ng-template #notfriend3>
                        </ng-template>
                    </div>
        
                    <div *ngIf="oneFriend2.active; else notfriend4"> 
                      <a routerLink="/{{ getProfileUrl() }}/albums" target="_blank">
                        <i class="glyphicon glyphicon-ok"></i>
                        Albums
                      </a>
                    </div>
        
                    <div>
                        <ng-template #notfriend4>
                        </ng-template>
                    </div>
      
                </ng-template>
              </div> -->
              </li>
            </ul>
          </div>
          <!-- END MENU -->

          <div class="portlet light bordered">
            <!-- STAT -->
            <div class="row list-separated profile-stat">
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">2</div>
                <div class="uppercase profile-stat-text">Posts</div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">2</div>
                <div class="uppercase profile-stat-text">Pictures</div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">1</div>
                <div class="uppercase profile-stat-text">Friends</div>
              </div>
            </div>
            <!-- END STAT -->
            <div>
              <h4 class="profile-desc-title">Email</h4>
              <div>
                <span class="profile-desc-text"> {{ user.email }}</span>
              </div>
              <h4 class="profile-desc-title">Birthday</h4>
              <div>
                <span class="profile-desc-text"> {{ user.birthday }}</span>
              </div>
              <h4 class="profile-desc-title">Gender</h4>
              <div>
                <span class="profile-desc-text"> {{ user.gender }}</span>
              </div>
            </div>
            <div>
              <h4 class="profile-desc-title">About Me</h4>
              <span class="profile-desc-text"> {{ user.aboutMe }}</span>
              <!-- <div class="margin-top-20 profile-desc-link">
              <span class="profile-desc-text"> {{ user.gender }}</span>
            </div>
          </div>
          <div>
            <h4 class="profile-desc-title">About Me</h4>
            <app-about-me></app-about-me>
            <span class="profile-desc-text"> {{ user.aboutMe }}</span>
            <!-- <div class="margin-top-20 profile-desc-link">
              <i class="fa fa-globe"></i>
              <a href="https://www.apollowebstudio.com">apollowebstudio.com</a>
            </div>
            <div class="margin-top-20 profile-desc-link">
              <i class="fa fa-twitter"></i>
              <a href="https://www.twitter.com/jasondavisfl/">@jasondavisfl</a>
            </div>
            <div class="margin-top-20 profile-desc-link">
              <i class="fa fa-facebook"></i>
              <a href="https://www.facebook.com/">JasonDavisFL</a>
            </div> -->
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="profile-content col-xl">
      <app-create-post class=""> </app-create-post>
      <app-post-page></app-post-page>
    </div>
  </div>
</div>
