<div class="card p-4" style="width: 40%">
  <h3 class="card-title text-center mb-3">Log In</h3>

  <!-- Method Selector -->
  <ul
    class="nav nav-pills nav-fill nav-justified bg-light rounded-pill p-1 mb-3"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link rounded-pill active"
        data-bs-toggle="tab"
        type="button"
        role="tab"
        aria-controls="email"
        aria-selected="true"
        [disabled]="isLoading"
        (click)="onMethodChange('email')"
      >
        Email
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link rounded-pill"
        data-bs-toggle="tab"
        type="button"
        role="tab"
        aria-controls="mobilenumber"
        aria-selected="false"
        [disabled]="isLoading"
        (click)="onMethodChange('mobilenumber')"
      >
        Mobile Number
      </button>
    </li>
  </ul>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="needs-validation d-grid gap-3 mt-2"
  >
    <ng-template ngFor let-input [ngForOf]="formData">
      <ng-container [ngSwitch]="input.type">
        <ng-template [ngSwitchCase]="'text'">
          <div class="form-group">
            <label class="form-label" [for]="input.id">
              {{ input.label }}</label
            >
            <div class="input-group">
              <span class="input-group-text">+63</span>
              <input
                class="form-control"
                [formControlName]="input.name"
                [type]="input.type"
                [id]="input.id"
                [ngClass]="
                  handleError(loginForm.get(input.name)) ? 'is-invalid' : ''
                "
              />
              <span
                class="invalid-feedback"
                *ngIf="
                  handleError(loginForm.get(input.name)) &&
                  loginForm.get(input.name).errors['required']
                "
              >
                This field is required
              </span>
            </div>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'email'">
          <div class="form-group">
            <label class="form-label" [for]="input.id">
              {{ input.label }}
            </label>
            <input
              class="form-control"
              [formControlName]="input.name"
              [type]="input.type"
              [id]="input.id"
              [ngClass]="
                handleError(loginForm.get(input.name)) ? 'is-invalid' : ''
              "
            />
            <span
              class="invalid-feedback"
              *ngIf="
                handleError(loginForm.get(input.name)) &&
                loginForm.get(input.name).errors['required']
              "
            >
              This field is required
            </span>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'password'">
          <div class="form-group">
            <label class="form-label" [for]="input.id">
              {{ input.label }}</label
            >
            <input
              class="form-control"
              [formControlName]="input.name"
              [type]="input.type"
              [id]="input.id"
              [ngClass]="
                handleError(loginForm.get(input.name)) ? 'is-invalid' : ''
              "
            />
            <span
              class="invalid-feedback"
              *ngIf="
                handleError(loginForm.get(input.name)) &&
                loginForm.get(input.name).errors['required']
              "
            >
              This field is required
            </span>
          </div>
        </ng-template>
      </ng-container>
    </ng-template>

    <div class="d-grid gap-3 mt-2">
      <button type="submit" class="btn btn-primary" [disabled]="isLoading">
        <span
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        {{ isLoading ? "Logging in..." : "Login" }}
      </button>
      <button type="reset" class="btn btn-secondary">Cancel</button>
    </div>
  </form>

  <hr class="my-4" />
  <p class="text-center">
    Don't have an account?<br /><a routerLink="/register" class="link-primary"
      >Register.</a
    >
  </p>
</div>
