<div class="card p-4" style="width: 30%">
  <h3 class="card-title text-center mb-3">Log In</h3>
  <ul
    class="nav nav-pills nav-fill nav-justified bg-light rounded-pill p-1 mb-3"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link rounded-pill active"
        data-bs-toggle="tab"
        data-bs-target="#email-tab-content"
        type="button"
        role="tab"
        aria-controls="email"
        aria-selected="true"
        [disabled]="isLoading"
        (click)="useEmailAndPassword()"
      >
        Email
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link rounded-pill"
        data-bs-toggle="tab"
        data-bs-target="#mobilenumber-tab-content"
        type="button"
        role="tab"
        aria-controls="mobilenumber"
        aria-selected="false"
        [disabled]="isLoading"
        (click)="useMobileNumber()"
      >
        Mobile Number
      </button>
    </li>
  </ul>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="needs-validation"
  >
    <div class="tab-content mb-3">
      <div
        class="tab-pane fade show active"
        id="email-tab-content"
        role="tabpanel"
      >
        <div class="form-group mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            [ngClass]="
              (email?.dirty || submitted) && email?.invalid ? 'is-invalid' : ''
            "
            required
          />
          <span *ngIf="email?.errors?.['required']" class="invalid-feedback">
            Email is required
          </span>
        </div>
        <div class="form-group mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            [ngClass]="
              (password?.dirty || submitted) && password?.invalid
                ? 'is-invalid'
                : ''
            "
            required
          />
          <span *ngIf="password?.errors?.['required']" class="invalid-feedback">
            Password is required
          </span>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="remember" />
          <label class="form-check-label" for="remember">Remember Me</label>
        </div>
      </div>
      <div class="tab-pane fade" id="mobilenumber-tab-content" role="tabpanel">
        <div class="form-group">
          <label for="mobileNumber" class="form-label">Mobile Number</label>
          <input
            type="tel"
            class="form-control"
            id="mobileNumber"
            formControlName="mobileNumber"
            [ngClass]="
              (mobileNumber?.dirty || submitted) && mobileNumber?.invalid
                ? 'is-invalid'
                : ''
            "
            required
          />
          <span
            *ngIf="mobileNumber?.errors?.['required']"
            class="invalid-feedback"
          >
            This field is required
          </span>
        </div>
      </div>
    </div>
    <div class="d-grid gap-3">
      <button type="submit" class="btn btn-primary" [disabled]="isLoading">
        <span
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        {{ isLoading ? "Logging in..." : "Login" }}
      </button>
      <button type="reset" class="btn btn-secondary">Cancel</button>
    </div>
  </form>

  <hr class="my-4" />
  <p class="text-center">
    Don't have an account?<br /><a routerLink="/register" class="link-primary"
      >Register.</a
    >
  </p>
</div>
