<div class="custom-card">

    <div class="card">

        <h5 class="card-header">All Friends</h5>

        <div class="row">
            <div class="col-12 col-md-4" *ngFor="let friendRequest of friendRequests">
        
                    <div class="card-body">
                        <div class="card">
        
                            <div class="card-body text-center">
                
                                <div>
                                    <img class="justify-content-center" src="..." class="rounded" alt="profile pic">
                                </div>
                
                                <h5 class="card-title">{{ friendRequest['firstName'] }} {{ friendRequest['lastName'] }}</h5>
                
                                <p class="card-text">{{ friendRequest['aboutMe']}}</p>
                
                                <div>
                                    <a href="#" class="btn btn-primary button-width">Confirm</a>
                                </div>
                
                                <div>
                                    <a href="#" class="btn btn-primary button-width">Delete</a>
                                </div>
                
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


