<div class="custom-card">

    <div class="card">

        <h5 class="card-header">All Friends</h5>

        <div class="row">
            <div class="col-12 col-md-4" *ngFor="let user of friendRequestList">
               
                    <div class="card-body" *ngIf="this.isButtonVisible">
                        <div class="card">
        
                            <div class="card-body text-center">
                
                                <div>
                                    <img class="justify-content-center" src="..." class="rounded" alt="profile pic">
                                </div>
                
                                <h5 class="card-title">{{user.firstName}}</h5>
                
                                <p class="card-text">{{user.lastName}}</p>

                                <div>

                                    <div>
                                        <app-button text="Accept" (click)="removeUserFromUserList(user)" (btnClick)="acceptFriend(user.id!)"></app-button>
                                    </div>
                        
                                    <div>
                                        <app-button text="Reject" (click)="removeUserFromUserList(user)" (btnClick)="cancelFriendRequest(user.id!)"></app-button>
                                    </div>
                                    
                                </div>
                                <!-- <div>
                                    <a href="#" class="btn btn-primary button-width">Confirm</a>
                                </div>
                
                                <div>
                                    <a href="#" class="btn btn-primary button-width">Delete</a>
                                </div> -->
                
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
