<h3 class="text-center">Edit User Information</h3>

<div class="card p-4">

  <form #updateProfileForm="ngForm" (ngSubmit)="onSubmit(updateProfileForm)">

    <div class="form-group">

      <label>First Name:</label>

      <input 
        type="text" 
        class="form-control" 
        [(ngModel)]="user.firstName" 
        name="firstName" 
        placeholder="Enter new first name">

    </div>
  
    <div class="form-group">

      <label class="mt-3">Last Name:</label>

      <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="user.lastName" name="lastName" 
      placeholder="Enter new last name">

    </div>
  
    <div>

      <label class="mt-3">Gender:</label>

      <div class="form-check">

          <input 
            class="form-check-input" 
            type="radio" 
            value="Male"
            name="gender"
            [(ngModel)]="user.gender" 
            id="maleButton">

          <label class="form-check-label">Male</label>

      </div>
    
      <div class="form-check">

        <input 
          class="form-check-input" 
          type="radio" 
          value="Female"
          name="gender"
          [(ngModel)]="user.gender" 
          id="femaleButton" checked>

        <label class="form-check-label" for="flexRadioDefault2">Female</label>

      </div>
    
      <div class="form-check">

        <input 
          class="form-check-input" 
          type="radio" 
          value="Prefer Not to Say"
          name="gender"
          [(ngModel)]="user.gender" 
          id="preferNotToSayButton" checked>

        <label class="form-check-label" for="flexRadioDefault3">
          Prefer not to say
        </label>

      </div>

    </div>
  
    <div class="form-group">

      <label class="mt-3">Birthdate: {{user.birthday}}</label>

      <input 
        type="date" 
        class="form-control" 
        [(ngModel)]="user.birthday"
        name="birthday">

    </div>
  
    <div class="mt-3">

      <button type="save" class="btn btn-primary" (click)="onSubmit(updateProfileForm)" [disabled]="updateProfileForm.pristine || updateProfileForm.untouched">Save</button>

    </div>
  
  </form>
  
</div>



