<div class="accordion-item">

    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Name: John Doe
      </button>
    </h2>

    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">

        <form>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="edit FirstName" placeholder="Enter new first name">
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="editFirstName" placeholder="Enter new last name">
          </div>
        
          <button type="save" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Birthday: May 5, 1998
      </button>
    </h2>

    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form>
          <div class="form-group">
            <label for="firstName">New birthdate</label>
            <input type="date" class="form-control" id="edit FirstName" placeholder="Enter new first name">
          </div>
        
          <button type="save" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Gender: Male
      </button>
    </h2>

    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        
        <form>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="maleButton">
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="femaleButton" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Female
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="preferNotToSayButton" checked>
            <label class="form-check-label" for="flexRadioDefault3">
              Prefer not to say
            </label>
          </div>
          
          <button type="save" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>

  <div class="accordion-item">

      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Mobile number: 0912345678
        </button>
      </h2>

      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <form>
            <div class="form-group">
              <label for="firstName">New mobile number</label>
              <input type="number" class="form-control" id="edit MobileNumber" placeholder="Enter 11-digit mobile number">
            </div>
          
            <button type="save" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>