<div class="container">
  <app-create-post
    class="d-flex justify-content-center"
    (refresh)="onRefresh()"
  ></app-create-post>
  <ng-container *ngIf="!rerender">
    <div class="d-grid gap-5" *ngIf="posts">
      <div *ngFor="let post of posts; let i = index">
        <app-post
          *ngIf="i + 1 === posts.length"
          #theLastList
          class="d-flex justify-content-center"
          [post]="post"
          (delete)="onDelete($event)"
        ></app-post>
        <app-post
          *ngIf="i + 1 !== posts.length"
          class="d-flex justify-content-center"
          [post]="post"
          (delete)="onDelete($event)"
        ></app-post>
      </div>
    </div>
    
    <div *ngIf="showSpinner" class="hstack gap-2 justify-content-center mt-3">
      <div *ngFor="let item of [].constructor(3)">
        <div
          class="spinner-grow text-muted"
          role="status"
          style="width: 10px; height: 10px"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- March 14, 2pm codes -->
  <!-- For testing the friend system (TO BE DELETED LATER) -->
  <!-- <div>
    <a routerLink="/testing">All Users</a>
  </div> -->
  <!-- March 14, 2pm codes -->

  <!-- <app-search-users></app-search-users> -->
  
</div>
