<div class="card w-50">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <app-avatar></app-avatar>
      <div>
        <p class="mb-0">{{ post.user.firstName }}</p>
        <p class="text-muted mb-0">{{ post.datetimeCreated }}</p>
      </div>
    </div>

    <p class="my-4">
      {{ post.content }}
    </p>
    {{ post.likes.length }}

    <hr class="mb-1" />
    <div
      class="button-group d-flex align-items-center justify-content-around"
      role="group"
    >
      <button
        type="button"
        class="w-100 btn btn-outline-primary border-white"
        (click)="like()"
      >
        Like
      </button>
      <button type="button" class="w-100 btn btn-outline-primary border-white">
        Comment
      </button>
      <button type="button" class="w-100 btn btn-outline-primary border-white">
        Share
      </button>
    </div>

    <div class="d-flex align-items-center mt-3">
      <app-avatar></app-avatar>
      <textarea
        class="form-control rounded-pill"
        id="comment"
        rows="1"
        placeholder="Write a comment..."
        style="resize: none"
      ></textarea>
    </div>
  </div>
</div>
